.chessboard{
    width: 800px;
    height: 800px;
    display: grid;
    grid-template-columns: repeat(8,100px);
    grid-template-rows: repeat(8,100px);
}
.chessboard .tile{
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.chessboard .tile-piece{
    width: 100px;
    height: 100px;
    background-repeat: no-repeat;
    background-size: 80px;
    background-position: center;
}
.chessboard .tile-piece:hover{
    cursor: grab;
}
.chessboard .tile-piece:active{
    cursor: grabbing;
}
.chessboard .tile-white{
    background-color: #ebecd0;
}
.chessboard .tile-black{
    background-color: #779556;;
}
